@import "../../bigstyle.scss";

.postk {
    @include themify($themes) {
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      border-radius: 20px;
      background-color: themed("bg");
      color: themed("textColor");
      padding: 20px 70px;
      margin-bottom: 60px;

      input{
        flex:5;
        padding: 10px;
        border: 2px solid themed("border");
        background-color: transparent;
        color: themed("textColor");
        margin-left: 10px;
        width: 70%;
      }

    }
  }