@import "../../bigstyle.scss";

.poste {
    @include themify($themes) {
        height: 100vh;
        padding: 20px 70px;
        background-color: themed("bgSoft");

        @include mobile {
        padding: 10px;
        }

        @include tablet{
        padding: 20px;
        }
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
   
      color: themed("textColor");


    }
  }