@import "../../bigstyle.scss";

.homejj{
    @include themify($themes) {
      // margin-top: 70px;
      color: themed("textColor");
      padding: 20px 70px;
      background-color: themed("bgSoft");
  
      @include mobile {
        padding: 10px;
      }
  
      @include tablet{
        padding: 20px;
      }
    }
   }